body {
  margin: 0;
  font-family: "segoe UI", sans-serif;
  background: #faf7f2;
  color: #333;
  text-align: center;
}

section {
  padding: 50px 20px;
}

.hero {
  background: linear-gradient(to bottom, #d4af37, #fff);
  padding: 80px 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.date {
  font-size: 20px;
  font-weight: bold;
}

.event,
.rsvp {
  backgroud: white;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.rsvp a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}
